body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#ddd6f3, #faaca8); /* gradasi seperti sebelumnya */
    margin: 0;
    padding: 0;
}

/* Kontainer profil */
.profile-container {
    width: 350px;
    background: white;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* Foto profil */
.profile-container img {
    border-radius: 50%;
    border: 4px solid #ddd6f3;
    box-shadow: 0 0 10px #fff, 0 0 20px #ff00de50;
}

/* Judul */
.profile-container h2 {
    color: #7d4abf;
    margin-top: 10px;
    text-shadow: 0 0 8px #fff;
}

/* Info Profil */
.profile-info {
    margin-top: 15px;
    text-align: left;
    line-height: 1.8;
    background: #f8e8ff;
    padding: 15px;
    border-radius: 15px;
}

.info-label {
    font-weight: bold;
    color: #7d4abf;
}

/* Tombol link sertifikat */
a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #ddd6f3;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

a:hover {
    background: white;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 10px #fff;
}












