

/* -------------------------------- */
/* Background umum halaman          */
/* -------------------------------- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#ddd6f3, #faaca8);
}



/* -------------------------------- */
/* Navbar                           */
/* -------------------------------- */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: pink;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-sizing: border-box;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    background-color: #ddd6f3;
    padding: 8px 18px;
    border-radius: 20px;
}

.nav-links li a:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}



/* -------------------------------- */
/* Logo                             */
/* -------------------------------- */
.logo {
    background-color: white;
    color: black;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 14px;
    text-shadow: 0 0 7px #fff, 0 0 21px #ff00de;
}



/* -------------------------------- */
/* Profile Container (Kemampuan)    */
/* -------------------------------- */
.profile-container {
    width: 350px;
    background: white;
    margin: 120px auto; /* turun dari navbar */
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.profile-container h2 {
    color: #7d4abf;
    margin-bottom: 10px;
    text-shadow: 0 0 8px #fff;
}



/* -------------------------------- */
/* Daftar kemampuan                 */
/* -------------------------------- */
.profile-info {
    background: #f8e8ff;
    padding: 15px;
    border-radius: 15px;
    line-height: 1.8;
    text-align: left;
}

.info-label {
    font-weight: bold;
    color: #7d4abf;
}

